/* AuthComponent.css */
.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-form {
    border: 1px solid #ccc;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .logged-in {
    text-align: center;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #9AD0C2;
    
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1eb4ad;
    color: #FFF;
  }
  h1{
    position: relative;
    top: 70px;
    font-size: 6em;
    letter-spacing: 15px;
    color: #9AD0C2;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
  }
  @media screen and (max-width: 600px)  {
 
    h1{
      position: relative;
      top: 80px;
      left: 10px;
      display: flex;
      font-size: 3em;
      justify-content: center;

    }
   
    }


    .password-container {
      position: relative;
      margin-bottom: 20px;
    }
    
    .eye-icon {
      position: absolute;
      top: 40%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    