.navbar {
    background-color: #9AD0C2;
    color: #fff;
    padding: 10px 0;
    height: 40px;
    width: 1300px;
    position: fixed;
    right: 0px;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-left {
    display: flex;
    margin-top: -5px;
    justify-content: space-between;
    width: 550px;
  }
  .btnHover{
    text-align: center;
    width: 80px;
  }
  .btnHover:hover{
    font-size: 20px;
  }
  
  .navbar-left a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .navbar-right img {
    max-height: 30px;
    position: absolute;
    top: 5px;
    right: 20px;
    border-radius: 6px;

  }
  

