.imgProfile{
  width:100%;
  height:602px;
  
  z-index: -1000;
  position:fixed;
  left: 0;
}

.textProfile{
display: flex;
width: 200px ;
color: #707070;
font-size: 9px;
margin-left: 27px;


}
.photoProfile{
  border: 1px solid #ccc;

  text-align: center;
    position: fixed;
    width: 250px;
    height: 602px;
    background-color: #E5E8E8 ;
    color:#707070 ;
}
.pictureProfile{
  
    padding-top: 20px;
    margin-left: -25px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.pictureProfile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 30px;
}
.pictureProfile:hover {
  filter: opacity(0.8); /* Adjust the value as needed */
}


.custom-file-input-label-Profile {
    position: relative;
    /* margin-left: 30px; */
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50 ;
    box-shadow:5px 5px 5px #4caf50;
    color: #fff;

    border: 1px solid #AEB6BF ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  custom-file-input-label-Profile .iconProfile{
    font-size:'20px';
    position:'absolute';
    top:'14px';
    right:'1px';
  }
  
  .custom-file-input-Profile {
    display: none;
    
  }
  
  .custom-file-input-label-Profile:hover {
    background-color: #45a049;
    /* color: #E4E9F7; */
    box-shadow:5px 5px 5px #45a049;

  }
  
  
 .loaderProfile {
    width: '150px';
     height: '150px';
    border-radius:'50%';
    margin-left:'30px';
    margin-left:'auto';
    display: block;
    margin: auto;
    position: relative;
    background: #E5E8E8;
    box-sizing: border-box;
  }
  .loaderProfile::after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    left: 15px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
     radial-gradient(circle 50px , #DDD 100%, transparent 0),
     linear-gradient(#DDD 16px, transparent 0),
     linear-gradient(#DDD 24px, transparent 0);
    background-repeat: no-repeat;
    background-size: 75px 175px, 100% 100px, 80% 16px, 80% 16px;
    background-position: -185px 0, center 10px, center 125px, center 155px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    to {
      background-position: 185px 0, center 10px, center 125px, center 155px;
    }
  }

  .cardProfile{
    display: flex;
/* 
    background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 37%, rgba(229,232,232,1) 62%); */
  }
    

/* *************************************** */
  .profile-form-container {
    background: rgb(229,232,232);
background: linear-gradient(90deg, rgba(229,232,232,1) 37%, rgba(255,255,255,1) 62%);
    position: fixed;
    left: 650px;
    top: 100px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group-profile {
    position: relative;
    margin-bottom: 20px;
  }
  
  .label-form {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input-profile {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-profile {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button-profile:hover {
    background-color: #45a049;
  }
  
  .eye-icon-profile {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  
@media screen and (max-width: 600px)  {
 
  .photoProfile{
    border: 1px solid #ccc;
    position: fixed;
    width: 100px;
    left: 80px;
  }

  .textProfile{
    width: 20px ;
    font-size: 5px;
    
    
    }
    .pictureProfile img,span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 20px;
      /* margin: -10px; */
    }

    .custom-file-input-label-Profile {
      margin-top: 0;
      padding: 10px 20px;
      font-size: 0;
      width: 30px;
      height: 30px;
  
      
      
    }
    .custom-file-input-label-Profile .iconProfile {
      font-size: 24px;
      padding-top: 1px;
      position: absolute;
      top: 3px;
      right: 7px;
      
    }
    .custom-file-input-label-Profile span{
      display: none;
    }
    .photoProfile span{
      font-size: 8px;
    }

    .profile-form-container {
      position: fixed;
      left: 240px;
      max-width: 300px;
      padding: 10px;
      height: 340px;
    }
    .form-group-profile {
      position: relative;
      margin-bottom: 9px;
      height: 55px;
    }
    .profile-form-container {
      top: 100px;
      max-width: 300px;
      padding: 10px;
      height: 390px;
    }
    .button-profile {
      font-size: 16px;
      margin-top: 10px;
    }
    .eye-icon-profile {
      position: absolute;
      top: 75%;
    }
    .loaderProfile{
      display: none;
    }
    
  
  }

 