.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.routage{
  position: relative;
  
  width: 100px;
  height: 100px;
  left: 250px;
}

@media screen and (max-width: 600px)  {
 
  .routage{
    position: relative;
    
    width: 100px;
    height: 100px;
    left: 85px;
  }
  
  }